* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

header .contenedor .presentacion{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 20px;
padding: 15px 2px;
}

/* BARRA DE BUSQUEDA */
.buscar {
    background: rgb(220, 227, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    outline: none;

}
.buscador {
    border: none;
    background: none;
    outline: none;
    color: #2a7ae4;
    font-size: 20px;
    float: left;
    line-height: 60px;
    transition: .3s;
    width: 0;
    text-align: center;

}

.search {
    width: 40px;
    height: 40px;
    text-decoration: none;
    background: none;
    border: none;
    color: #2a7ae4;
    font-size: 30px;
}

.login {
     
    background: #2a7ae4;
    color: white;
    font-family: 'Raleway', sans-serif;
    border: none;
    padding: 5px;
      
}

.login:hover {
    background: gray;
    transition: .3s;
}

/* =========== BANNER =========== */

.promo-titulo {
    background-image:linear-gradient(rgba(0,0,0,.5), rgba(0, 0, 0, 0.199)), url("./imagenes/geeky-shots-hQ4BQ3wdHsQ-unsplash_m.jpg");
    background-repeat: no-repeat;
    background-position: 0% 40%;
    height: 50vh;
    background-size: cover;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    
}

.insertar-promo-img {
display: flex; 
padding: 40px;
gap: 16px;

}
.descripcion-promo {
    display: flex; 
    padding: 40px;
    gap: 16px;
    
    }
    .consola {
        display: flex; 
        background: #2a7ae4;
        color: white;
        font-family: 'Raleway', sans-serif;
        border: none;
        padding: 10px;
        margin-left: 20%;
        
        }
    .consola:hover {
        background: gray;
        transition: 0.3s;
    }    
    
/* ============ PRODUCTOS ============ */
.titulo {
    display: grid;
    grid-template-columns: 600px 300px;
    align-items: center;
    justify-content: space-evenly;
}

h2 {
    font-size: 32px;
    padding: 32px;
}

.enlace-producto {
    color: #2a7ae4;
    margin: 40px 20px;
    display: grid;
    grid-template-columns: 1fr 40px;
    gap: 5px;
    justify-content: space-between;
    align-items: flex-start;
}

.ver-todo {
    color: #2a7ae4;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
}
.enlace-producto a i {
    display: grid;
    align-items: center;
    justify-content: stretch;
    align-content: center;
    justify-items: center;
}

/* ========= STAR WARS ============= */
.contenedor-sw  {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
    margin: 20px;
}
.precio {
    font-weight: 600;
}
/* ========= CONSOLAS ============= */
.contenedor-c  {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
    margin: 20px;
}

/* ========= DIVERSOS ============= */
.contenedor-d  {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
    margin: 20px;
}

/* ============= FORMULARIO CONTACTO =========== */
.contenedor-form {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    background: #eaf2fd;
    padding: 20px;
}

.img-form {
    display: grid;
    justify-content: start;
    align-items: center;
}

.enlace {
    display: grid;
    justify-content: space-between;
    align-items: center;
}
.empresa {
    text-decoration: none;
}

.form-cuerpo {
    display: grid;
    grid-template-rows: max-content;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}
.nombre {
    display: grid;
    width: 90%;
    margin: 10px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    height: 56px;
    font-family: "Raleway", sans-serif;
    padding: 10px 12px;
}

#mensaje {
    display: grid;
    width: 90%;
    margin: 10px;
    border: none; 
    font-size: 16px;
    font-weight: 400;
    height: 82px;
    font-family: "Raleway", sans-serif;
    padding: 10px 12px;
}

.enviar {
    display: grid;
    background: #2a7ae4;
    color: white;
    padding: 15px;
    border: 1px solid blue;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.enviar:hover{
    background: gray;
    transition: .3s;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* =======RESPONSIVE ======*/

@media screen and (min-width:400px){
    .buscar:hover > .buscador {
        width: 190px;
    }
     /* STAR WARS */
    .contenedor-sw  {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        margin: 20px;
        }
/* CONSOLAS */
        .contenedor-c  {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 10px;
            margin: 20px;
        }
/* DIVERSOS */
        .contenedor-d  {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 10px;
            margin: 20px;
        }
}    
    @media screen and (max-width:400px) {
        /* STAR WARS */
        .contenedor-sw  {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        margin: 20px;
        }

        /* CONSOLAS */
        .contenedor-c {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 10px;
            margin: 20px;
        }

        /* DIVERSOS */
        .contenedor-d  {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 10px;
            margin: 20px;
        }

        /* FORMULARIO CONTACTO */
        .contenedor-form {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            background: #eaf2fd;
            padding: 20px;
        }
    }


@media screen and (max-width:768px){
    .buscar:hover > .buscador {
        width: 300px;
    }
     /* STAR WARS */
    .contenedor-sw  {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
        margin: 20px;
        }
/* CONSOLAS */
        .contenedor-c  {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 10px;
            margin: 20px;
        }
/* DIVERSOS */
        .contenedor-d  {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 10px;
            margin: 20px;
        }
        /* FORMULARIO CONTACTO */
        .contenedor-form {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            background: #eaf2fd;
            padding: 20px;
        }
}

@media screen and (min-width:1024px){
    .buscar:hover > .buscador {
        width: 500px;
    }
 /* STAR WARS */
    .contenedor-sw  {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 10px;
        margin: 20px;
        }
/* CONSOLAS */
        .contenedor-c  {
            display: grid;
            grid-template-columns: repeat(6,1fr);
            gap: 10px;
            margin: 20px;
        }
/* DIVERSOS */
        .contenedor-d  {
            display: grid;
            grid-template-columns: repeat(6,1fr);
            gap: 10px;
            margin: 20px;
        }
}

@media screen and (max-width:768px) {
   
    /* STAR WARS */
   .contenedor-sw  {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin: 20px;
    }

    /* CONSOLAS */
    .contenedor-c {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        margin: 20px;
    }

    /* DIVERSOS */
    .contenedor-d  {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        margin: 20px;
    }

    /* FORMULARIO CONTACTO */
    .contenedor-form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        background: #eaf2fd;
        padding: 20px;
        justify-items: center;
    }

    .form-cuerpo {
        display: grid;
        grid-template-rows: 1fr;
        justify-content: flex-start;
        align-content: start;
        align-items: start;
        justify-items: center;
    }
}

/* RESPONSIVE TITULO PRODUCTOS */
@media screen and (max-width:850px) {
    .titulo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 10px;
        justify-items: center;
        font-size: 16px;
    }
    h2 {
        font-size: 16px;
        padding: 32px;
    }
}
 
@media screen and (min-width:700px) and (max-width:1022px) {
  /* STAR WARS */
  .contenedor-sw  {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin: 20px;
    }
/* CONSOLAS */
    .contenedor-c  {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
        margin: 20px;
    }
/* DIVERSOS */
    
.contenedor-d  {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
        margin: 20px;
    }  
}
